<header>
    <a href="#" class="logo"><img src="../../media/img/LogotipoNFT.png" alt="logo nft aqui" srcset=""></a>
    <ul class="navmenu">
        <li><a href="">Home</a></li>
        <li><a href="/collections" onclick="">Collections</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
    <div class="nav-icon">
        <a href="/profile"><i class="bx bx-user"></i></a>
        <a href="/cart"><i class="bx bx-cart"> 0</i></a>
    </div>
</header>