*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Anonymous Pro', monospace;
    list-style: none;
    text-decoration: none;
    color: white;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;

    background-color: black;
    border: 3px solid #fff;
}
body {
    background-color: black;
}

.logo img{
    max-width: 120px;
    height: auto;
}

.navmenu {
    display: flex;
}

.navmenu a {
    color: white;
    /* color: black; */
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
}

.navmenu a:hover {
    color: blue;
}

.nav-icon {
    display: flex;
    align-items: center;
}

.nav-icon i {
    margin-right: 20px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    transition: all .42s ease;
}

.nav-icon i:hover {
    transform: scale(1.3);
    color: blue;
}

.cart-itens {
    color: white;
    font-size: 20px;
    
}

section {
    padding: 25%;
}

.home-section {
    width: 100%;
    height: 100vh;
}

.main-text h1{
    margin: auto;
    font-family: 'Chivo', sans-serif;
    font-size: 120px;
    font-weight: 900;
    text-align: center;
}

.main-text p{
    margin: auto;
    max-width: 400px;
    font-size: 16px;
    text-align: justify;
}

.button-nft{
    font-family: 'Chivo', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 20%;
    padding: 10px;
    width: 360px;
    color: black;
    
}

.collections-home {
    text-align: center;
    text-decoration: underline;
    margin: 5%;
}

.nft-img {
    width: 200px;
    height: 300px;

    border: 3px solid #fff;
}